h1 {
    text-align: center;
    margin: 2em;
}


.card {
    background-color: #039;
    color: whitesmoke;
}

.cardTitle {
    font-size: 40px;
    padding-left: 30px;
    padding-top: 0.5em;
}

.cardSubtitle {
    font-size: 25px;
    padding-left: 50px;
    padding-top: 0.5em;
}

.cardTitle, .cardSubtitle {
    display: flex;
    justify-content: flex-start;
}

.subCats {
    display: flex;
    justify-content: space-around;
    
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    border: 1px solid whitesmoke;
    margin-bottom: 1em;
}

.weatherIcon {
    height: 7em;
    width: 7em;
}

.tempWrapper {
    display: flex;
    align-items: center;
    height: 300px;
}

.tempCelcius {
    font-size: 6em;
}

.iconWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4em;
}

