.container {
    border-bottom: 2px solid black;
    width: 80%;
    margin: 0 auto;
}

.row {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.date {
    font-size: 2em;
}

.temp {
    font-size: 3.5em;
}

.weatherIcon {
    height: 5em;
}
.weatherText {
  margin-top: -0.5em;
}

.weatherContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  
}

.info {
  font-size: 1.2em;
}

.accordionBox {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
}
